{% extends 'base.html.twig' %}

{% block title %}mon compte{% endblock %}

{% block body %}
<h1>mon compte</h1>
Bienvenue <b>{{app.user.firstname}}</b> sur votre compte 
<hr>
    <ul>
        <li><a href="{{path('account_password')}}">modification de mon mot de passe</a> </li>
        <li>ajouter un adresse</li>
        <li>mes commandes</li>
    </ul>
<hr>
{% endblock %}
