{% extends 'base.html.twig' %}

{% block title %}Hello AccountPasswordController!{% endblock %}

{% block body %}
<h1>Modifier mon  mot de passe</h1>
<hr>
    <ul>
        <li><a href="{{path('account')}}">retourner a mon compte</a> </li>
    </ul>
{% if notification %}
    
<div class="alert alert-info">
{{notification}}
</div>
{% endif %}
    {{form(form)}}
    
<hr>
{% endblock %}
